html, body {
    width: 100%;
    height: 100%;
    background: #efefef;
}

/* utility classes */
.outline-none, .outline-none:focus {
    outline: none;
    box-shadow: none;
}

#gurmukhi {
    font-size: 60px;
    color: #545454;
}

#teeka {
    font-size: 40px;
    color: #434343;
}

#translation {
    font-size: 30px;
    color: #595959;
}

.slide {
    height: 100%;
}

.overlay-panel {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 40%;
    height: 40%;
}

.overlay-panel.minimised {
    height: 40px;
}

.overlay-panel.minimised .card {
    border: none;
}

.overlay-panel.minimised .card .card-header {
    background: none;
}

.overlay-panel .card-body {
    overflow: auto;
    padding: 5px;
}

.overlay-panel .card {
    height: 100%;
}

/* Custom search input */
#custom-search-input{
    border: solid 1px #E4E4E4;
    border-radius: 6px;
}

#custom-search-input input{
    border: 0px;
}

#custom-search-input input:focus {
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
}

@font-face {
    font-family: gurbani_akhar;
    src: url('./../fonts/GURAKHAR.TTF');
}

@font-face {
    font-family: gurbani_akhar_heavy;
    src: url('./../fonts/GURAKH_H.TTF');
}

@font-face {
    font-family: gurbani_akhar_large;
    src: url('./../fonts/GURAKH_L.TTF');
}

@font-face {
    font-family: gurbani_akhar_thick;
    src: url('./../fonts/GUAK_TH.TTF');
}

@font-face {
    font-family: "Noto Sans Gurmukhi";
    font-style: normal;
    font-weight: normal;
    src: url("./../fonts/NotoSansGurmukhi-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Noto Sans Medium";
    font-style: normal;
    font-weight: normal;
    src: url("./../fonts/NotoSans-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Noto Sans Regular";
    font-style: normal;
    font-weight: normal;
    src: url("./../fonts/NotoSans-Regular.ttf") format("truetype");
}

.gurbani_akhar {
    font-family: gurbani_akhar;
}

.gurbani_akhar_heavy {
    font-family: gurbani_akhar_heavy;
}

.gurbani_akhar_large {
    font-family: gurbani_akhar_large;
}

.gurbani_akhar_thick {
    font-family: gurbani_akhar_thick;
}

.gurmukhi_akhar {
    font-family: "Noto Sans Gurmukhi";
}